{% extends 'theme/apps.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block titlePage %}Modifier votre mot de passe
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	{{ form_start(requestForm) }}
	{{ form_row(requestForm.email) }}
	<div>
		<small>
			Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe
		</small>
	</div>

	<button class="btn btn-success btn-block">Modifier</button>
	{{ form_end(requestForm) }}
	<p>
		<a class="text-black" href="{{ path('user_index') }}">Revenez à votre profil</a>
	</p>
{% endblock %}
