{% extends 'theme/apps.html.twig' %}

{% block title %}Equipment
{% endblock %}

{% block titlePage %}
	Fiche équipement
{% endblock %}

{% block body %}

	<table class="table ml-3" style="width: 100%;">
		<tbody>
			<tr class="row">
				<th class="col col-lg-2">Catégorie :</th>
				<td class="col-md-auto">{{ equipment.category }}</td>
			</tr>
			<tr class="row">
				<th class="col col-lg-2">Description :</th>
				<td class="col-md-auto wrap">{{ equipment.description }}</td>
			</tr>
			<tr class="row">
				<th class="col col-lg-2">Bâtiment</th>
				<td class="col-md-auto">{{ equipment.bulding }}</td>
			</tr>
			<tr class="row">
				<th class="col col-lg-2">Etat</th>
				<td class="col-md-auto">{{ equipment.state }}</td>
			</tr>
			<tr class="row">
				<th class="col col-lg-2">Salle</th>
				{% if equipment.room %}
					<td class="col-md-auto">{{ equipment.room }}</td>
				{% else %}
					<td class="col-md-auto text-danger ">non renseignée</td>
				{% endif %}
			</tr>
			<tr class="row">
				<div class="col-6">
					<th>Date de création :</th>
					<td>{{ equipment.createdAt ? equipment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</div>
				<div class="col-6">
					<th>Date de maj :</th>
					<td>{{ equipment.updatedAt ? equipment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</div>
			</tr>
		</tbody>
	</table>

{% endblock %}
