{% extends 'theme/app.html.twig' %}

{% block title %}Modifier profile
{% endblock %}

{% block body %}
	<div class="container profile">
		<div class="card border-primary mb-3 align-items-center center-div" style="max-width: 40rem; margin-top: 100px">
			{{ form_start(form) }}
			{{ form_row(form.firstname) }}
			{{ form_row(form.lastname) }}
			<button class="btn btn-primary btn-block mt-3 mb-3">{{ button_label|default('Modifier') }}</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
